h1{
    margin-left: 3rem;
    font-size: 4rem;
    color: rgb(78, 77, 77);
}
h2{
    font-size: 2rem;
    color: rgb(78, 77, 77);
    margin-left: 6rem;
    margin-top: -2rem;
}
h3{
    color: rgb(67, 66, 66) ;
    font-size: 2.2rem;
}
.correo{
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
    
}
.arroba{
    max-width: 1rem;
}
.celular{
    max-width: 2rem;
}
.ubicacion{
    max-width: 2rem;
}
.numero{
    display: flex;
    flex-direction: row;
    margin-left: 24rem;
}
.direccion{
    display: flex;
    flex-direction: row;
    margin-left: 24rem;
}
.foto{
    max-width: 25rem;
    margin-left: 45rem;
    margin-top: 3rem;
    padding: 4rem;
    background-color: rgb(73, 72, 72); ;
    

}
.borde{
    position: absolute;
    border: 0.3rem solid ;
    margin-top: 5rem;
    color: rgb(118, 115, 115);
    width: 75rem;
    
}
p{
    font-size: 1rem;
}
button{
    
    margin-left: 3rem;
    width: 18rem;
    border-radius: 2rem;
    font-size: 2rem;
    
}
.estudios{
    padding: 3rem;
    background-color: rgb(189, 189, 189);
    width: 25rem;
    
}
.subtitulo{
    font-size: 1rem;

}
.colorP{
    color: rgb(67, 66, 66) ;

}